[user]
	email = zhang123cnn@gmail.com
	name = Xiaomeng Zhang
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	vimdiff = difftool
	st = !sh -c \"git status -uno --porcelain | sed -e \\\"s|^\\(...\\)fixedincome/|\\1|\\\"\"
	gvimdiff = difftool -t gvimdiff
    lastcommit = log --pretty=format:'%H' -n 1
    logx = log --oneline --decorate --graph
    loga = log --all --oneline --decorate --graph
    logap = log --first-parent --oneline --decorate --graph
[merge]
	tool = gvimdiff
	conflictstyle = diff3
